@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css');


.left-column {
  background-image: url('../../assets/img/loading%20bg.png');
  background-size: cover;
  height: 100vh;
}


.card {
  max-width: 400px;
  width: 100%;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn {
  color: white;
  border: none;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}

.far.fa-star {
  top: 50%;
  text-align: right;
  transform: translateY(-50%);
}

.position-absolute {
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}


/* Default styles for navigation links */
.nav-link.active, 
.nav-link:focus-within {
  background-color: #B3C799 !important;
  border-radius: 5px;
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  transition: background 0.3s, color 0.3s;
}

.nav-link:hover {
  background: #d4c8a3;
  color: #000;
  border-radius: 5px;
}

html, body {
  overflow-x: hidden;
}






